@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 22% 97%;
    --foreground: 225 28% 14%;
    --card: 42 34% 94%;
    --card-foreground: 225 28% 14%;
    --primary: 157 62% 14%;
    --primary-foreground: 60 22% 97%;
    --secondary: 46 20% 87%;
    --secondary-foreground: 225 28% 14%;
    --muted: 42 34% 94%;
    --muted-foreground: 160 8% 46%;
    --accent: 150 21% 93%;
    --accent-foreground: 157 62% 14%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 60 22% 97%;
    --border: 46 20% 87%;
    --input: 46 20% 87%;
    --ring: 157 62% 14%;
    --radius: 0.5rem;
    --amber: 22 56% 50%;
    --amber-foreground: 60 22% 97%;
    --warm-cream: 42 70% 86%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
